body {
  min-height: 1800px;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', 'Arial'; }
  body img {
    max-width: 100%; }
  body .visiable-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }
  body a {
    text-decoration: none;
    cursor: pointer; }
  body ul {
    list-style-type: none; }

.page-header {
  width: 100%;
  min-height: 96px;
  background: #ffffff;
  box-sizing: border-box; }
  .page-header .page-header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 34px 15px 49px;
    box-sizing: border-box;
    list-style-type: none; }
    .page-header .page-header__navigation .page-header__navigation-burger {
      display: block;
      width: 32px;
      height: 25px;
      background-image: url("../image/burger.png"); }
    .page-header .page-header__navigation .page-header__navigation-logo {
      display: block;
      width: 213px;
      height: 34px;
      margin-right: 16px;
      background-image: url("../image/airbooking-header-logo.png"); }
    .page-header .page-header__navigation .page-header__navigation-loupa {
      display: block;
      width: 31px;
      height: 31px;
      background-image: url("../image/loupa.png"); }

.social-and-brand-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 1035px; }
  .social-and-brand-form .header__social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    min-width: 76px;
    padding-bottom: 105px; }
    .social-and-brand-form .header__social-links li {
      margin-right: 45px; }
    .social-and-brand-form .header__social-links .header__social-links-facebook,
    .social-and-brand-form .header__social-links .header__social-links-twitter,
    .social-and-brand-form .header__social-links .header__social-links-vine,
    .social-and-brand-form .header__social-links .header__social-links-instagram {
      margin: 13px auto; }
    .social-and-brand-form .header__social-links .header__social-links-facebook {
      display: block;
      width: 11px;
      height: 23px;
      background-image: url("../image/facebook-header.png");
      text-align: center; }
    .social-and-brand-form .header__social-links .header__social-links-twitter {
      display: block;
      width: 21px;
      height: 19px;
      background-image: url("../image/twitter-header.png");
      text-align: center; }
    .social-and-brand-form .header__social-links .header__social-links-vine {
      display: block;
      width: 25px;
      height: 23px;
      background-image: url("../image/vine-header.png");
      text-align: center; }
    .social-and-brand-form .header__social-links .header__social-links-instagram {
      display: block;
      width: 23px;
      height: 23px;
      background-image: url("../image/instagram-header.png");
      text-align: center; }
  .social-and-brand-form .header__brand-form {
    min-width: 800px;
    min-height: 1035px;
    background-image: url("../image/header-brand-form-background.jpg");
    flex-grow: 14; }
    .social-and-brand-form .header__brand-form .brand-form__title {
      width: 730px;
      margin: 0 auto;
      margin-top: 214px;
      font-size: 81px;
      font-family: "Gilda Display";
      font-weight: 400;
      color: white;
      text-align: center; }
    .social-and-brand-form .header__brand-form form {
      display: flex;
      flex-direction: column;
      min-height: 600px; }
      .social-and-brand-form .header__brand-form form .brand-form__galery-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 27px 71px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 78px;
        border-radius: 40px;
        font-size: 18px;
        text-transform: uppercase;
        background: #ffffff;
        color: #686868; }
      .social-and-brand-form .header__brand-form form .brand-form__choise {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: -56px; }
        .social-and-brand-form .header__brand-form form .brand-form__choise .brand-form__check-in,
        .social-and-brand-form .header__brand-form form .brand-form__choise .brand-form__check-out,
        .social-and-brand-form .header__brand-form form .brand-form__choise .brand-form__guest-number,
        .social-and-brand-form .header__brand-form form .brand-form__choise .brand-form__submit {
          display: flex;
          flex-direction: column;
          width: 237px;
          height: 197px;
          background: #ffffff;
          color: #939393; }
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-in__title,
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-out__title,
        .social-and-brand-form .header__brand-form form .brand-form__choise .guest-number__title {
          padding-top: 8px;
          padding-right: 15px;
          margin-bottom: 0px;
          text-transform: uppercase;
          font-size: 16px;
          color: #939393;
          text-align: center; }
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-in__number,
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-out__number,
        .social-and-brand-form .header__brand-form form .brand-form__choise .guest-number__number {
          margin-top: -4px;
          margin-bottom: 0px;
          border: none;
          font-family: "Gilda Display";
          font-size: 89px;
          color: #939393;
          text-align: center; }
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-in__select-date,
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-out__select-date,
        .social-and-brand-form .header__brand-form form .brand-form__choise .check-in__select-guest-number {
          display: flex;
          flex-direction: row;
          justify-content: center;
          max-width: 90px;
          border: none;
          text-transform: uppercase;
          font-family: "Gilda Display";
          font-size: 24px;
          font-weight: 400;
          marign: 0 auto;
          margin-top: 0;
          margin-left: 70px;
          color: #939393; }
      .social-and-brand-form .header__brand-form form .brand-form__submit .brand-form__submit-button {
        display: block;
        width: 253px;
        height: 100%;
        padding: 0 20px;
        border: none;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 36px;
        background: #0e6fb3;
        color: white;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer; }

.our-rooms {
  display: block;
  width: 100%;
  min-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box; }
  .our-rooms .our-rooms__title {
    margin: 0 auto;
    margin-bottom: 73px;
    margin-top: 100px;
    text-align: center;
    font-family: "Gilda Display";
    font-size: 72px;
    font-weight: 400;
    color: #686868; }
  .our-rooms .our-rooms__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    padding-left: 0;
    margin: 0 auto;
    text-align: center; }
    .our-rooms .our-rooms__cards .our-rooms__card {
      width: 371px;
      min-height: 270px;
      margin-bottom: 31px; }
    .our-rooms .our-rooms__cards .our-rooms__card:first-child {
      background: url("../image/our-room-1.jpg"); }
    .our-rooms .our-rooms__cards .our-rooms__card:nth-of-type(2) {
      background: url("../image/our-room-2.jpg"); }
    .our-rooms .our-rooms__cards .our-rooms__card:nth-of-type(3) {
      background: url("../image/our-room-3.jpg"); }
    .our-rooms .our-rooms__cards .our-rooms__card:nth-of-type(4) {
      background: url("../image/our-room-4.jpg"); }
    .our-rooms .our-rooms__cards .our-rooms__card:nth-of-type(5) {
      background: url("../image/our-room-5.jpg"); }
    .our-rooms .our-rooms__cards .our-rooms__card:nth-of-type(6) {
      background: url("../image/our-room-6.jpg"); }
    .our-rooms .our-rooms__cards .our-rooms__type {
      width: 141px;
      padding: 9px 0;
      margin: 0 auto;
      margin-top: 158px;
      background: #c19b76;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase; }
    .our-rooms .our-rooms__cards .our-rooms__price {
      margin: 0 auto;
      margin-top: 18px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase; }

.choice-best {
  padding: 160px 0;
  margin-top: 90px;
  background: #eff4f8; }
  .choice-best .choice-best__wrapper {
    position: relative;
    width: 1171px;
    margin: 0 auto;
    background: #eff4f8; }
  .choice-best img {
    border: 5px white solid;
    background-size: cover;
    box-shadow: 0px 3px 65px 0px rgba(181, 203, 221, 0.8); }
  .choice-best .choice-best__description {
    position: absolute;
    top: 110px;
    right: 0;
    width: 440px;
    height: 390px;
    padding: 0px 50px 30px 45px;
    background: #ffffff; }
    .choice-best .choice-best__description .choice-best__title {
      margin-bottom: 20px;
      margin-top: 42px;
      font-family: "Gilda Display";
      font-size: 60px;
      font-weight: 400;
      color: #686868; }
    .choice-best .choice-best__description .choice-best__about {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      color: #7d7d7d; }

.our-services {
  margin-bottom: 57px; }
  .our-services .our-services__title {
    margin-bottom: 130px;
    margin-top: 90px;
    font-family: "Gilda Display";
    font-size: 72px;
    font-weight: 400;
    color: #686868;
    text-align: center; }
  .our-services .our-services__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 270px;
    padding: 0;
    margin: 0 auto; }
    .our-services .our-services__cards .our-services__card {
      position: relative;
      width: 371px; }
    .our-services .our-services__cards .our-services__card:nth-of-type(1):before {
      content: "";
      position: absolute;
      top: -20px;
      left: 163px;
      width: 42px;
      height: 41px;
      background: url("../image/restaurant.png"); }
    .our-services .our-services__cards .our-services__card:nth-of-type(2):before {
      content: "";
      position: absolute;
      top: -25px;
      left: 160px;
      width: 48px;
      height: 49px;
      background: url("../image/sports-club.png"); }
    .our-services .our-services__cards .our-services__card:nth-of-type(3):before {
      content: "";
      position: absolute;
      top: -20px;
      left: 155px;
      width: 60px;
      height: 32px;
      background: url("../image/pick-up.png"); }
    .our-services .our-services__cards .our-services__card-title {
      margin-bottom: 13px;
      margin-top: 50px;
      font-family: "Gilda Display";
      font-size: 30px;
      font-weight: 400;
      color: #686868;
      text-align: center; }
    .our-services .our-services__cards .our-services__card-description {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      color: #7d7d7d;
      text-align: center; }

.find-best-room {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1030px; }
  .find-best-room .find-best-room__picture {
    flex-grow: 0;
    width: 1043px;
    height: 100%;
    background: url("../image/best-room.jpg") no-repeat;
    background-size: cover; }
  .find-best-room .find-best-room__description {
    flex-grow: 14;
    margin-top: 0px;
    background: #0e6fb3; }
  .find-best-room .find-best-room__description-wrapper {
    max-width: 600px;
    margin: 0 auto; }
    .find-best-room .find-best-room__description-wrapper .find-best-room__title {
      margin-bottom: 30px;
      margin-top: 102px;
      font-size: 90px;
      font-family: "Gilda Display";
      font-weight: 400;
      line-height: 112px;
      color: #ffffff;
      text-align: left; }
    .find-best-room .find-best-room__description-wrapper .find-best-room__text-1 {
      padding-left: 6px;
      margin-bottom: 40px;
      font-family: "Open Sans";
      font-weigh: 300;
      font-size: 18px;
      line-height: 40px;
      color: #ffffff; }
    .find-best-room .find-best-room__description-wrapper .find-best-room__text-2 {
      padding-left: 6px;
      margin-bottom: 61px;
      font-size: 18px;
      line-height: 40px;
      color: #ffffff; }
    .find-best-room .find-best-room__description-wrapper .find-best-room__link {
      margin-left: 8px;
      padding: 21px 50px 21px 50px;
      font-family: "Gilda Display";
      font-size: 24px;
      font-weight: 400;
      background: #ffffff;
      color: #686868; }

.from-the-guest {
  padding-bottom: 80px; }
  .from-the-guest .from-the-guest__wrapper {
    max-width: 680px;
    margin: 0 auto; }
  .from-the-guest .from-the-guest__title {
    margin-bottom: 108px;
    margin-top: 105px;
    font-family: "Gilda Display";
    font-size: 72px;
    font-weight: 400;
    color: #686868;
    text-align: center; }
  .from-the-guest .from-the-guest__description {
    margin-bottom: 95px;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    tex-align: center; }
  .from-the-guest .from-the-guest__card {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .from-the-guest .from-the-guest__card img {
      margin-right: 25px; }
    .from-the-guest .from-the-guest__card .card__author {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 260px;
      color: #7d7d7d; }
      .from-the-guest .from-the-guest__card .card__author .card__author-name {
        margin: 0;
        margin-top: 24px;
        font-family: "Gilda Display";
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: #7d7d7d;
        text-align: left; }
      .from-the-guest .from-the-guest__card .card__author .card__author-from {
        margin-top: 8px;
        font-family: "Gilda Display";
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        color: #7d7d7d;
        text-align: left; }

.keep-calm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 680px;
  box-sizing: border-box;
  background: url("../image/keep-calm.jpg"); }
  .keep-calm .keep-calm__title {
    width: 630px;
    padding-top: 155px;
    margin: 0 auto;
    margin-bottom: 38px;
    font-family: "Gilda Display";
    font-weight: 400;
    font-size: 85px;
    line-height: 105px;
    color: #ffffff;
    text-align: center; }
  .keep-calm .keep-calm__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 104px;
    border: 3px white solid;
    border-radius: 50%;
    box-sizing: border-box; }
    .keep-calm .keep-calm__button img {
      margin-left: 10px; }

.latest-news {
  padding-bottom: 100px;
  padding-top: 33px; }
  .latest-news .latest-news__title {
    margin-bottom: 85px;
    font-family: "Gilda Display";
    font-size: 72px;
    font-weight: 400;
    color: #686868;
    text-align: center; }
  .latest-news .latest-news__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1171px;
    padding-left: 0px;
    margin: 0 auto; }
    .latest-news .latest-news__cards .latest-news__card {
      width: 371px;
      height: 294px;
      margin-bottom: 28px;
      position: relative; }
      .latest-news .latest-news__cards .latest-news__card .latest-news__sticker {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        padding-left: 25px;
        box-sizing: border-box; }
      .latest-news .latest-news__cards .latest-news__card .sticker__title {
        margin-bottom: 23px;
        margin-top: 20px;
        font-family: "Gilda Display";
        font-size: 24px;
        font-weight: 400;
        color: #686868;
        text-align: left; }
      .latest-news .latest-news__cards .latest-news__card .sticker__date {
        marign-bottom: 38px;
        font-size: 14px;
        color: #a2a2a2;
        text-align: left; }
      .latest-news .latest-news__cards .latest-news__card .sticker__description {
        padding-top: 7px;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        color: #a2a2a2;
        text-align: left; }
      .latest-news .latest-news__cards .latest-news__card .sticker__link {
        padding: 12px 20px;
        font-family: "Open Sans";
        background-color: #0e6fb3;
        color: #ffffff; }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(1) {
      background: url("../image/latest-news-1.jpg"); }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(2) {
      background: url("../image/latest-news-2.jpg"); }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(3) {
      background: url("../image/latest-news-3.jpg"); }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(5) {
      background: url("../image/latest-news-5.jpg"); }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(2) .latest-news__card-name,
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(5) .latest-news__card-name {
      margin-bottom: 3px;
      margin-left: 25px;
      margin-top: 210px;
      font-family: "Gilda Display";
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      text-align: left; }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(2) .latest-news__card-date,
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(5) .latest-news__card-date {
      padding-left: 6px;
      margin-top: 10px;
      margin-left: 25px;
      font-family: "Open Sans";
      font-size: 14px;
      color: #ffffff;
      text-align: left; }
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(4) .latest-news__sticker,
    .latest-news .latest-news__cards .latest-news__card:nth-of-type(6) .latest-news__sticker {
      display: block; }
      .latest-news .latest-news__cards .latest-news__card:nth-of-type(4) .latest-news__sticker .sticker__title,
      .latest-news .latest-news__cards .latest-news__card:nth-of-type(6) .latest-news__sticker .sticker__title {
        margin-bottom: 7px;
        margin-top: 17px; }
      .latest-news .latest-news__cards .latest-news__card:nth-of-type(4) .latest-news__sticker .sticker__date,
      .latest-news .latest-news__cards .latest-news__card:nth-of-type(6) .latest-news__sticker .sticker__date {
        margin: 0;
        margin-bottom: 5px;
        margin-left: 3px; }

footer {
  padding-bottom: 85px;
  padding-top: 91px;
  background-color: #454545; }
  footer .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1171px;
    margin: 0 auto; }
    footer .footer-wrapper .footer-contacts-and-links,
    footer .footer-wrapper .footer-quick-links,
    footer .footer-wrapper .footer-social-links {
      width: 375px; }
  footer .footer-copywrite {
    display: block;
    margin: 0 auto;
    margin-top: 57px;
    font-size: 16px;
    line-height: 36px;
    color: #cfcfcf;
    text-align: center; }

.footer-contacts-and-links {
  font-size: 16px;
  line-height: 30px; }
  .footer-contacts-and-links .footer-contacts-and-links__title {
    width: 213px;
    height: 34px;
    margin-bottom: 34px;
    background-image: url("../image/airbooking-footer-logo.png"); }
  .footer-contacts-and-links .footer-contacts-and-links__description {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 30px;
    color: #cfcfcf; }
  .footer-contacts-and-links .footer-contacts-and-links__adress {
    position: relative;
    padding-left: 47px;
    margin-bottom: 15px;
    color: #cfcfcf;
    cursor: pointer; }
    .footer-contacts-and-links .footer-contacts-and-links__adress:hover {
      opacity: 0.5; }
    .footer-contacts-and-links .footer-contacts-and-links__adress:active {
      opacity: 0.2; }
    .footer-contacts-and-links .footer-contacts-and-links__adress:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 30px;
      height: 42px;
      background-image: url("../image/adress.png"); }
  .footer-contacts-and-links .footer-contacts-and-links__phone-number {
    position: relative;
    padding-left: 47px;
    color: #cfcfcf; }
    .footer-contacts-and-links .footer-contacts-and-links__phone-number:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 32px;
      height: 43px;
      background-image: url("../image/phone.png"); }
    .footer-contacts-and-links .footer-contacts-and-links__phone-number .contacts-and-links__phone-number-1 {
      margin-bottom: 0;
      cursor: pointer; }
      .footer-contacts-and-links .footer-contacts-and-links__phone-number .contacts-and-links__phone-number-1:hover {
        opacity: 0.5; }
      .footer-contacts-and-links .footer-contacts-and-links__phone-number .contacts-and-links__phone-number-1:active {
        opacity: 0.2; }
    .footer-contacts-and-links .footer-contacts-and-links__phone-number .contacts-and-links__phone-number-2 {
      margin-top: 0;
      cursor: pointer; }
      .footer-contacts-and-links .footer-contacts-and-links__phone-number .contacts-and-links__phone-number-2:hover {
        opacity: 0.5; }
      .footer-contacts-and-links .footer-contacts-and-links__phone-number .contacts-and-links__phone-number-2:active {
        opacity: 0.2; }

.footer-quick-links {
  padding-left: 8px;
  box-sizing: border-box; }
  .footer-quick-links .footer-quick-links__title {
    margin-bottom: 35px;
    margin-top: 26px;
    font-size: 24px;
    line-height: 24px;
    font-family: "Gilda Display";
    font-weight: 400;
    color: #ffffff;
    text-align: left; }
  .footer-quick-links .footer-quick-links__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0; }
    .footer-quick-links .footer-quick-links__cards li {
      width: 50%;
      margin-bottom: 2px; }
      .footer-quick-links .footer-quick-links__cards li:hover {
        opacity: 0.5; }
      .footer-quick-links .footer-quick-links__cards li:active {
        opacity: 0.2; }
      .footer-quick-links .footer-quick-links__cards li .footer-quick-links__card {
        font-size: 16px;
        line-height: 36px;
        text-align: left;
        color: #cfcfcf; }

.footer-social-links .footer-social-links__title {
  margin-bottom: 50px;
  font-family: "Gilda Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-align: left; }
.footer-social-links .footer-social-links__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 290px;
  padding-left: 0; }
  .footer-social-links .footer-social-links__list .footer-social-links__social-link {
    display: block;
    ailgn-self: center;
    margin-right: 25px;
    cursor: pointer; }
    .footer-social-links .footer-social-links__list .footer-social-links__social-link:hover {
      opacity: 0.5; }
  .footer-social-links .footer-social-links__list .footer-social-links__social-link:nth-of-type(1) {
    width: 10px;
    height: 23px;
    background-image: url("../image/facebook-footer.png"); }
  .footer-social-links .footer-social-links__list .footer-social-links__social-link:nth-of-type(2) {
    width: 22px;
    height: 18px;
    background-image: url("../image/twitter-footer.png"); }
  .footer-social-links .footer-social-links__list .footer-social-links__social-link:nth-of-type(3) {
    width: 26px;
    height: 23px;
    background-image: url("../image/linkiding-footer.png"); }
  .footer-social-links .footer-social-links__list .footer-social-links__social-link:nth-of-type(4) {
    width: 26px;
    height: 28px;
    margin-top: 10px;
    background: url("../image/youtube-footer.png") no-repeat; }
  .footer-social-links .footer-social-links__list .footer-social-links__social-link:nth-of-type(5) {
    width: 22px;
    height: 23px;
    background-image: url("../image/instagram-footer.png"); }

/*# sourceMappingURL=styles.css.map */
