body  {
	min-height: 1800px;
	width: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Open Sans', 'Arial';
	
	img {
		max-width: 100%;
	}

	.visiable-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
		
	a {
		text-decoration: none;
		cursor: pointer;
	}

	ul {
		list-style-type: none;
	}
}
