body {
	min-width: 920px;
	font-family: "Montserrat";
	font-size: 13px;
	line-height: 20px;
	color: #7f7f7f;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

.visially-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-content {
	display: none;
}