@import "variables.styl";
@import "mixins.styl";
@import "scaffolding.styl";

@import "blocks/page-header.styl";
@import "blocks/social-and-brand-form.styl";

@import "blocks/our-rooms.styl";
@import "blocks/choice-best.styl";
@import "blocks/our-services.styl";
@import "blocks/find-best-room.styl";
@import "blocks/from-the-guest.styl";
@import "blocks/keep-calm.styl";
@import "blocks/latest-news.styl";

@import "blocks/footer.styl";
@import "blocks/footer-contacts-and-links.styl";
@import "blocks/footer-quick-links.styl";
@import "blocks/footer-social-links.styl";