.footer__your-account {

	.your-account__title {
		margin-bottom: 45px;
		font-size: 16px;
		color: black;
	}

	.your-account__box {

		.your-account__link {
			padding-bottom: 15px;

			.your-account__just-link {
				color: #929292;

				&:hover {
					color: black;
				}

				&:active {
					color: #ba2f46;
				}
			}
		}
	}
}