.page-header__slider {
	position: relative;
	min-height: 540px;

	.slider-controls {
		position: absolute;
		left: 0%;
		bottom: 34px;
		z-index: 10;
		width: 160px;
		height: 18px;
		text-align: center;
		font-size: 0;
		background: transparent;
		-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
				transform: translateX(-50%);

		.slider-controls-item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 10px;
			height: 10px;
			margin-right: 7px;
			background: white;
			cursor: pointer;
		}
	}

	.slider-list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		.slider-item {
			display: none;

			.slider-item__title {
				margin-bottom: 15px;
				font-size: 56px;
				line-height: 64px;
				color: #161918;
			}

			.slider-item__description {
				max-width: 365px;
				margin-bottom: 60px;
				font-size: 13px;
				line-height: 20px;
				color: #7f7f7f;
			}

			.slider-item__button {
				padding: 24px 46px;
				font-size: 11px;
				line-height: 20px;
				color: #ffffff;
				background-color: #000000;
				cursor: pointer;

				&:hover {
					color: #000000;
					background-color: #ffffff;
				}

				&:active {
					color: #dddddd;
					background-color: #af2d42;
				}
			}
		}
	}

	.product-1:checked ~ .slider-list .slider-item:nth-child(1) {
		display: block;
	}

	.product-2:checked ~ .slider-list .slider-item:nth-child(2) {
		display: block;
	}

	.product-3:checked ~ .slider-list .slider-item:nth-child(3) {
		display: block;
	}

	.product-1:checked ~ .slider-controls .slider-controls-item-1,
	.product-2:checked ~ .slider-controls .slider-controls-item-2,
	.product-3:checked ~ .slider-controls .slider-controls-item-3 {
		background-color: #000000;
	}
}
