.bottom-navigation {
  display: flex;
  flex-direction: row;
  flex-direction: space-between;
  width: 100%;
  background: #f2f2f2;
  padding: 0 20px; }
  .bottom-navigation .bottom-navigation__numbers {
    display: block;
    flex-grow: 66; }
  .bottom-navigation .bottom-navigation__pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    flex-grow: 0; }
    .bottom-navigation .bottom-navigation__pages .bottom-navigation__page {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      background: #f2f2f2;
      color: #000; }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:hover {
        background: #000; }
        .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:hover .page-number {
          color: #fff; }
        .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:hover:before {
          background: white; }
        .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:hover:after {
          background: white; }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:active {
        background: #ba2f46; }
        .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:active .page-number {
          color: #fff; }
        .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:active:before {
          background: white; }
        .bottom-navigation .bottom-navigation__pages .bottom-navigation__page:active:after {
          background: white; }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page .page-number {
        color: #000; }
    .bottom-navigation .bottom-navigation__pages .bottom-navigation__page--previous {
      position: relative;
      width: 50px;
      padding-right: 5px;
      padding-left: 20px; }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page--previous:before {
        position: absolute;
        content: "";
        top: 18px;
        left: 0px;
        width: 8px;
        height: 1px;
        background: black;
        transform: rotate(45deg); }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page--previous:after {
        position: absolute;
        content: "";
        top: 12px;
        left: 0px;
        width: 8px;
        height: 1px;
        background: black;
        transform: rotate(-45deg); }
    .bottom-navigation .bottom-navigation__pages .bottom-navigation__page--next {
      position: relative;
      width: 40px;
      padding-right: 20px;
      padding-left: 5px; }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page--next:before {
        position: absolute;
        content: "";
        top: 18px;
        right: 5px;
        width: 8px;
        height: 1px;
        background: black;
        transform: rotate(-45deg); }
      .bottom-navigation .bottom-navigation__pages .bottom-navigation__page--next:after {
        position: absolute;
        content: "";
        top: 12px;
        right: 5px;
        width: 8px;
        height: 1px;
        background: black;
        transform: rotate(45deg); }

/*# sourceMappingURL=bottom-navigation.css.map */
