.brand-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.brand-link {
		margin: 65px 0;

		&:hover {
			opacity: 0.5;
			background-color: #f2f2f2;
		}
	}

}