.map {
	width: 100%;
	height: auto;
	min-height: 400px;
	background: url("../image/map.jpg") no-repeat;
	border: 0.1px black solid;

	.map__pin {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 335px;
		height: 195px;
		padding: 30px 40px;
		margin-left: 21%;
		margin-top: 100px;
		background: white;
		color: black;
		box-sizing: border-box;
		font-size: 13px;

		.map__pin-adress {
			padding: 0;
			margin: 0;
			margin-bottom: 5px;
		}

		.tel {
			padding: 5px 0;
			color: black;
		}

		.mail {
			padding: 5px 0;
			color: black;
		}

	}
}