.page-header__hidden-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 0; }
  .page-header__hidden-menus .hidden-menus__menu-and-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .page-header__hidden-menus .hidden-menus__menu-and-search .hidden-menus__menu {
      width: 18px;
      height: 12px;
      margin-right: 25px;
      background: url("../image/burger-icon.svg");
      cursor: pointer;
      box-sizing: border-box; }
      .page-header__hidden-menus .hidden-menus__menu-and-search .hidden-menus__menu:hover {
        background: url("../image/burger-icon--hover.svg"); }
      .page-header__hidden-menus .hidden-menus__menu-and-search .hidden-menus__menu:active {
        background: url("../image/burger-icon--active.svg"); }
    .page-header__hidden-menus .hidden-menus__menu-and-search .hidden-menus__search {
      position: relative;
      width: 17px;
      height: 17px;
      background: url("../image/search-icon.svg");
      cursor: pointer;
      box-sizing: border-box; }
      .page-header__hidden-menus .hidden-menus__menu-and-search .hidden-menus__search:hover {
        background: url("../image/search-icon--hover.svg"); }
      .page-header__hidden-menus .hidden-menus__menu-and-search .hidden-menus__search:active {
        background: url("../image/search-icon--active.svg"); }
  .page-header__hidden-menus .hidden-menus__logo {
    width: 187px;
    height: 18px;
    background: url("../image/logo.png");
    cursor: pointer;
    box-sizing: border-box; }
    .page-header__hidden-menus .hidden-menus__logo:hover {
      opacity: 0.5; }
    .page-header__hidden-menus .hidden-menus__logo:active {
      opacity: 0.8; }
  .page-header__hidden-menus .hidden-menus__social-and-bag {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__social {
      width: 15px;
      height: 17px;
      background: url(../image/social-icon.svg);
      cursor: pointer;
      box-sizing: border-box; }
      .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__social:hover {
        background: url(../image/social-icon--hover.svg); }
      .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__social:active {
        background: url(../image/social-icon--active.svg); }
    .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__bag {
      position: relative;
      width: 20px;
      height: 19px;
      margin-left: 25px;
      background: url("../image/portfolio-icon.svg");
      cursor: pointer;
      box-sizing: border-box; }
      .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__bag:hover {
        background: url("../image/portfolio-icon--hover.svg"); }
      .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__bag:active {
        background: url("../image/portfolio-icon--active.svg"); }
      .page-header__hidden-menus .hidden-menus__social-and-bag .hidden-menus__bag .hidden-menus__number-of-bag {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -12px;
        right: -7px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        font-size: 7px;
        background-color: black;
        color: white;
        text-align: center; }

/*# sourceMappingURL=page-header__hidden-menus.css.map */
