.catalog__form {
	width: 255px;

	.catalog-item {
		font-weight: 500;
		font-size: 14px;
		line-height: 34px;
		color: black;
		text-transform: uppercase;
	}

	.catalog-item__top,
	.catalog-item__t-shirt-and-blouses {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			right: 22px;
			top: 15px;
			width: 7px;
			height: 1px;
			background: black;
			transform: rotate(45deg);
		}

		&:after {
			content: "";
			position: absolute;
			right: 18px;
			top: 15px;
			width: 7px;
			height: 1px;
			background: black;
			transform: rotate(-45deg);
		}
	}

	.catalog-item__top,
	.catalog-item__t-shirt-and-blouses {
		position: relative;
		cursor: pointer;

		&:before {
			content: "";
			position: absolute;
			right: 8px;
			top: 15px;
			width: 7px;
			height: 1px;
			background: black;
			transform: rotate(45deg);
		}

		&:after {
			content: "";
			position: absolute;
			right: 12px;
			top: 15px;
			width: 7px;
			height: 1px;
			background: black;
			transform: rotate(-45deg);
		}
	}

	.catalog-item__top-subtipe {
		display: none;
		font-size: 12px;
		text-transform: none;
		color: #929292;
	}

//	.catalog-item__top-subtipe--active {
//		display: block;
//	}

	.catalog__subtipe,
	.catalog-item__t-shirt-subtipe {

		.catalog__subtipe {
			font-size: 12px;
			text-transform: none;
			color: #929292;

			&:hover {
				color: black;
			}

			&:active {
				color: #ba2f46;
			}
		}
	}

	.catalog__filter-title {
		margin-top: 55px;
		margin-bottom: 35px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		color: black;
	}
}