.catalog__pins {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	.sales-catalog__pin {
		position: relative;
		width: 250px;
		height: 460px;
		margin-bottom: 100px;

		.sales-catalog__pin-picture {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f6f6f6;

			.pin-picture__new {
				position: absolute;
				top: 15px;
				right: 15px;
				width: 50px;
				padding: 8px 0;
				font-size: 12px;
				text-align: center;
				background: black;
				color: white;
			}

			.pin-picture__discount {
				position: absolute;
				top: 15px;
				left: 15px;
				width: 50px;
				padding: 8px 0;
				font-size: 12px;
				text-align: center;
				background: #c55353;
				color: white;
			}
		}

		.sales-catalog__pin-title {
			display: block;
			font-size: 14px;
			color: black;
			text-align: center;
		}

		.sales-catalog__pin-price {
			display: block;
			font-size: 16px;
			color: #929292;
			text-align: center;
			vertical-align: middle;

			.pin-price__old-price {
				padding-left: 12px;
				margin-bottom: 8px;
				font-size: 13px;
				text-decoration: line-through;
				vertical-align: middle;
			}
		}
	}
}
