.find-best-room {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 1030px;

	.find-best-room__picture {
		flex-grow: 0;
		width: 1043px;
		height: 100%;
		background: url('../image/best-room.jpg') no-repeat;
		background-size: cover;
	}

	.find-best-room__description {
		flex-grow: 14;
		margin-top: 0px;
		background: #0e6fb3;
	}

	.find-best-room__description-wrapper {
		max-width: 600px;
		margin: 0 auto;

		.find-best-room__title {
			margin-bottom: 30px;
			margin-top: 102px;
			font-size: 90px;
			font-family: "Gilda Display";
			font-weight: 400;
			line-height: 112px;
			color: #ffffff;
			text-align: left;
		}

		.find-best-room__text-1 {
			padding-left: 6px;
			margin-bottom: 40px;
			font-family: "Open Sans";
			font-weigh: 300;
			font-size: 18px;
			line-height: 40px;
			color: #ffffff;
		}

		.find-best-room__text-2 {
			padding-left: 6px;
			margin-bottom: 61px;
			font-size: 18px;
			line-height: 40px;
			color: #ffffff;
		}

		.find-best-room__link {
			margin-left: 8px;
			padding: 21px 50px 21px 50px;
			font-family: "Gilda Display";
			font-size: 24px;
			font-weight: 400;
			background: #ffffff;
			color: #686868;
		}
	}
}