.footer-contacts-and-links {
	font-size: 16px;
	line-height: 30px;
	
	.footer-contacts-and-links__title {
		width: 213px;
		height: 34px;
		margin-bottom: 34px;
		background-image: url("../image/airbooking-footer-logo.png");
	}

	.footer-contacts-and-links__description {
		margin-bottom: 22px;
		font-size: 16px;
		line-height: 30px;
		color: #cfcfcf;
	}
		
	.footer-contacts-and-links__adress {
		position: relative;
		padding-left: 47px;
		margin-bottom: 15px;
		color: #cfcfcf;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}

		&:active {
			opacity: 0.2;
		}
		
		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 30px;
			height: 42px;
			background-image: url("../image/adress.png");
		}
	}

	.footer-contacts-and-links__phone-number {
		position: relative;
		padding-left: 47px;
		color: #cfcfcf;
		
		&:before {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			width: 32px;
			height: 43px;
			background-image: url("../image/phone.png");
		}

		.contacts-and-links__phone-number-1 {
			margin-bottom: 0;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}

			&:active {
				opacity: 0.2;
			}
		}

		.contacts-and-links__phone-number-2 {
			margin-top: 0;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}

			&:active {
				opacity: 0.2;
			}
		}
	}
}