.footer-social-links {

	.footer-social-links__title {
		margin-bottom: 50px;
		font-family: "Gilda Display";
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;
		color: #ffffff;
		text-align: left;
	}
		
	.footer-social-links__list {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 290px;
		padding-left: 0;
		
		.footer-social-links__social-link {
			display: block;
			ailgn-self: center;
			margin-right: 25px;
			cursor: pointer;

			&:hover {
				opacity: 0.5;
			}
		}
			
		.footer-social-links__social-link:nth-of-type(1) {
			width: 10px;
			height: 23px;
			background-image: url("../image/facebook-footer.png");
		}

		.footer-social-links__social-link:nth-of-type(2) {
			width: 22px;
			height: 18px;
			background-image: url("../image/twitter-footer.png");
		}

		.footer-social-links__social-link:nth-of-type(3) {
			width: 26px;
			height: 23px;
			background-image: url("../image/linkiding-footer.png");
		}

		.footer-social-links__social-link:nth-of-type(4) {
			width: 26px;
			height: 28px;
			margin-top: 10px;
			background: url("../image/youtube-footer.png") no-repeat;
		}
			
		.footer-social-links__social-link:nth-of-type(5) {
			width: 22px;
			height: 23px;
			background-image: url("../image/instagram-footer.png");
		}
	}
}