.from-the-guest {
	padding-bottom: 80px;
	
	.from-the-guest__wrapper {
		max-width: 680px;
		margin: 0 auto;
	}
		
	.from-the-guest__title {
		margin-bottom: 108px;
		margin-top: 105px;
		font-family: "Gilda Display";
		font-size: 72px;
		font-weight: 400;
		color: #686868;
		text-align: center;
	}
		
	.from-the-guest__description {
		margin-bottom: 95px;
		font-size: 18px;
		font-weight: 300;
		line-height: 40px;
		tex-align: center;
	}
		
	.from-the-guest__card {
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		img {
			margin-right: 25px;
		}
			
		.card__author {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 260px;
			color: #7d7d7d;

			.card__author-name {
				margin: 0;
				margin-top: 24px;
				font-family: "Gilda Display";
				font-weight: 400;
				font-size: 36px;
				line-height: 40px;
				color: #7d7d7d;
				text-align: left;
			}
				
			.card__author-from {
				margin-top: 8px;
				font-family: "Gilda Display";
				font-weight: 400;
				font-size: 16px;
				line-height: 40px;
				color: #7d7d7d;
				text-align: left;
			}
		}
	}
}


