.our-rooms {
	display: block;
	width: 100%;
	min-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;

	.our-rooms__title {
		margin: 0 auto;
		margin-bottom: 73px;
		margin-top: 100px;
		text-align: center;
		font-family: "Gilda Display";
		font-size: 72px;
		font-weight: 400;
		color: #686868;
	}

	.our-rooms__cards {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 1200px;
		padding-left: 0;
		margin: 0 auto;
		text-align: center;

		.our-rooms__card {
			width: 371px;
			min-height: 270px;
			margin-bottom: 31px;
		}

		.our-rooms__card:first-child {
			background: url("../image/our-room-1.jpg");
		}

		.our-rooms__card:nth-of-type(2) {
			background: url("../image/our-room-2.jpg");
		}

		.our-rooms__card:nth-of-type(3) {
			background: url("../image/our-room-3.jpg");
		}

		.our-rooms__card:nth-of-type(4) {
			background: url("../image/our-room-4.jpg");
		}

		.our-rooms__card:nth-of-type(5) {
			background: url("../image/our-room-5.jpg");
		}

		.our-rooms__card:nth-of-type(6) {
			background: url("../image/our-room-6.jpg");
		}

		.our-rooms__type {
			width: 141px;
			padding: 9px 0;
			margin: 0 auto;
			margin-top: 158px;
			background: #c19b76;
			color: #ffffff;
			text-align: center;
			text-transform: uppercase;
		}

		.our-rooms__price {
			margin: 0 auto;
			margin-top: 18px;
			color: #ffffff;
			text-align: center;
			text-transform: uppercase;
		}
	}
}