.page-header {
	width: 100%;
	min-height: 96px;
	background: #ffffff;
	box-sizing: border-box;
	
	.page-header__navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 15px 34px 15px 49px;
		box-sizing: border-box;
		list-style-type: none;
		
		.page-header__navigation-burger {
			display: block;
			width: 32px;
			height: 25px;
			background-image: url("../image/burger.png");
		}

		.page-header__navigation-logo {
			display: block;
			width: 213px;
			height: 34px;
			margin-right: 16px;
			background-image: url("../image/airbooking-header-logo.png");
		}

		.page-header__navigation-loupa {
			display: block;
			width: 31px;
			height: 31px;
			background-image: url("../image/loupa.png");
		}
	}
}