.social-and-brand-form {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 1035px;

	.header__social-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		min-width: 76px;
		padding-bottom: 105px;

		li {
			margin-right: 45px;
		}

		.header__social-links-facebook,
		.header__social-links-twitter,
		.header__social-links-vine,
		.header__social-links-instagram {
			margin: 13px auto;
		}

		.header__social-links-facebook {
			display: block;
			width: 11px;
			height: 23px;
			background-image: url("../image/facebook-header.png");
			text-align: center;
		}

		.header__social-links-twitter {
			display: block;
			width: 21px;
			height: 19px;
			background-image: url("../image/twitter-header.png");
			text-align: center;
		}

		.header__social-links-vine {
			display: block;
			width: 25px;
			height: 23px;
			background-image: url("../image/vine-header.png");
			text-align: center;
		}

		.header__social-links-instagram {
			display: block;
			width: 23px;
			height: 23px;
			background-image: url("../image/instagram-header.png");
			text-align: center;
		}
	}

	.header__brand-form {
		min-width: 800px;
		min-height: 1035px;
		background-image: url("../image/header-brand-form-background.jpg");
		flex-grow: 14;

		.brand-form__title {
			width: 730px;
			margin: 0 auto;
			margin-top: 214px;
			font-size: 81px;
			font-family: "Gilda Display";
			font-weight: 400;
			color: white;
			text-align: center;
		}

		form {
			display: flex;
			flex-direction: column;
			min-height: 600px;

			.brand-form__galery-link {
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 27px 71px;
				margin: 0 auto;
				margin-top: 50px;
				margin-bottom: 78px;
				border-radius: 40px;
				font-size: 18px;
				text-transform: uppercase;
				background: #ffffff;
				color: #686868;
			}

			.brand-form__choise {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-left: -56px;

				.brand-form__check-in,
				.brand-form__check-out,
				.brand-form__guest-number,
				.brand-form__submit {
					display: flex;
					flex-direction: column;
					width: 237px;
					height: 197px;
					background: #ffffff;
					color: #939393;
				}

				.check-in__title,
				.check-out__title,
				.guest-number__title {
					padding-top: 8px;
					padding-right: 15px;
					margin-bottom: 0px;
					text-transform: uppercase;
					font-size: 16px;
					color: #939393;
					text-align: center;
				}

				.check-in__number,
				.check-out__number,
				.guest-number__number {
					margin-top: -4px;
					margin-bottom: 0px;
					border: none;
					font-family: "Gilda Display";
					font-size: 89px;
					color: #939393;
					text-align: center;
				}

				.check-in__select-date,
				.check-out__select-date,
				.check-in__select-guest-number {
					display: flex;
					flex-direction: row;
					justify-content: center;
					max-width: 90px;
					border: none;
					text-transform: uppercase;
					font-family: "Gilda Display";
					font-size: 24px;
					font-weight: 400;
					marign: 0 auto;
					margin-top: 0;
					margin-left: 70px;
					color: #939393;
				}
			}

			.brand-form__submit {

				.brand-form__submit-button {
					display: block;
					width: 253px;
					height: 100%;
					padding: 0 20px;
					border: none;
					box-sizing: border-box;
					font-size: 30px;
					line-height: 36px;
					background: #0e6fb3;
					color: white;
					vertical-align: middle;
					text-align: center;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
	}
}
