footer
	display flex
	flex-direction row
	justify-content space-around
	width 1230px
	background-color #454545
	padding-top 112px
	padding-bottom 85px
	
	.contacts-and-links,
	.quick-links,
	.footer-social-links
		width 371px
		

	.footer-copywrite
		margin-top 85px
		font-size 16px
		line-height 36px
		color #cfcfcf