.footer-social-links
	
	.footer-social-links__title
		margin-bottom 50px
		text-align left
		font-family "GildaDisplay"
		font-size 24px
		line-height 24px
		
	.footer-social-links__list
		display flex
		flex-direction row
		justify-content flex-start
		width 270px
		
		.footer-social-links__social-link
			margin-right 20px
			
		.footer-social-links__social-link:nth-of-type(1)
			width 10px
			height 23px
			background-image url("../image/facebook-footer.png")
			
		.footer-social-links__social-link:nth-of-type(2)
			width 22px
			height 18px
			background-image url("../image/twitter-footer.png")
			
		.footer-social-links__social-link:nth-of-type(3)
			width 26px
			height 23px
			background-image url("../image/linkiding-footer.png")
			
		.footer-social-links__social-link:nth-of-type(4)
			width 26px
			height 28px
			background-image url("../image/youtube-footer.png")
			
		.footer-social-links__social-link:nth-of-type(5)
			width 22px
			height 23px
			background-image url("../image/instagram-footer.png")
			
		
		